
.content {
 height: 100vh;
  /* margin-left: 220px; */
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  
  

 
}
.row  {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}
.card {
  background-color: #0a1a29;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(255, 255, 255, 0.514); 
  flex: 1 1 calc(50% - 20px);
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  color: #BEC6ED;
    font-size: 28px;
}
h6{

    color: white;
    font-size: 25px;
}

.half-width {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th, table td {
  border: 1px solid #7dc3fc;
  color: #D5DAF3;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #0a1a29;
}
.text-success {
  color: green;
  
}
.text-danger {
  color: red;
}